
body {
	margin: auto;
}

.seccion img {
	width: 100%;
	height: 100%;
}

.seccion ul {
	display:flex;
	padding: 0;
	margin: 1px;
	width: 400%;

	animation: changeImages 20s infinite;
}


.seccion li {
	list-style: none;
	width: 100%;
}


.seccion .subtitles {
	/*background-color: rgb(166,166,166);*/
	z-index: 1;
	height: auto;
	width: auto;
	text-align: center;
	position: absolute;

	/*border-style: groove;
  	border-width: thick;
  	border-radius: 15px;*/
}

#container {
	width: 100%;
	height: 90em;
	margin-left: auto;
	margin-right: auto; 
}

#header{
	background-color: rgb(166,166,166);
	width: 90%;
	height: 10%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: top;
	border-style: groove;
  	border-width: thick;
  	border-radius: 15px;
}

#main {
	width: 90%;
	height: 85%;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}

.seccion {
	width: 70%;
	height: 25%;
	overflow: hidden;
	margin: auto;
	border-radius: 10px;
}

#footer {
	background-color: rgba(166,166,166,0.6); 
	width: 90%;
	height: 5%;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	vertical-align: bottom;
	border-style: groove;
  	border-width: thick;
  	border-radius: 15px;
}

#footer span {
	text-align: center;
	display: inline-block;
	vertical-align: center;
	margin-right: 6.5%;
	margin-left: 6.5%;
}


@keyframes changeImages {
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	95%{margin-left: -300%;}
}