#main {
	width: 80%;

}

#info{
	border-style: groove;
  	border-width: thick;
  	border-collapse: collapse;
	text-align: center;
	margin: 2em;
}

#contentRight {
	background-color: rgba(192, 199, 173, 0.6); 
	width: 60%;
	height: auto;
	border-style: groove;
  	border-width: thick;
  	border-radius: 15px;
  	display: inline-block;
}

#contentLeft {
	width: 38%;
  	vertical-align: top;
  	display: inline-block;
}

#note{
	color: red;
	font-family: fantasy;
}

#text{
	font-family: cursive;

}

#imagePerson{
	width: 10%;
	height: 14%;
}

#imageBuild{
	width: 60%;
	height: 40%;
}

#contentLeft div{
	background-color: rgba(192, 199, 173, 0.6); 
	width: 60%;
	height: auto;
	border-style: groove;
  	border-width: thick;
  	border-radius: 15px;
  	display: inline-block;
	font-size: 20px;
}